<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/mainStyles.css" />
    <!--<link rel="stylesheet" type="text/css" href="styles/debugStyles.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../../public/css/iconStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/navigationStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/membersStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/shadersStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/calendarStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/taskStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/headerStyles.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/taskWindowStyles.css"/>
</head>
<body>
<div class="flex-column dayWindow dayShader"><!--Индивидуальное окно задачи-->
    <div class="flex-row dayWindowNameBlock"> <!--Чекбокс и название-->
        <div class="center-content"><!--Чекбокс-->
            <input class="check" type="checkbox">
        </div>
        <div class="center-content"><!--Название-->
            <a class="dayWindowNameClick round "><label>NAME_PLACEHOLDER</label></a>
        </div>
    </div>
    <div class="flex-row"> <!--Дата и кнопки-->
        <div class="center-content dayWindowDateBlock round"><!-- Дата -->
            <a class="dayWindowDateClick round dayShader"><label >DATE_PLACEHOLDER</label></a>
        </div>
        <div class="flex-row dayWindowButtonsBlock"><!--Блок кнопок-->
            <div class="center-content"><!-- Кнопка переноса -->
                <input class="round icon iconSchedule" type="button">
            </div>
            <div class="center-content"><!-- Кнопка удалить -->
                <input class="round icon iconTrash" type="button">
            </div>
            <div class="center-content"><!-- Кнопка дополнительно -->
                <input class="round icon iconMore" type="button">
            </div>
        </div>
    </div>
    <div class="round dayWindowDescriptionBlock descriptionShader"><!--Описание задачи-->
        <a class="round dayWindowDescriptionClick">
            ТЕКСТ ОПИСАНИЕ ЗАДАЧИ ТЕКСТ ОПИСАНИЕ ЗАДАЧИ
            ТЕКСТ ОПИСАНИЕ ЗАДАЧИ ТЕКСТ ОПИСАНИЕ ЗАДАЧИ
            ТЕКСТ ОПИСАНИЕ ЗАДАЧИ ТЕКСТ ОПИСАНИЕ ЗАДАЧИ
           </a>
    </div>
    <div class="flex-column round"><!--Список подзадач-->


        <div class="flex-column"><!--Кнопка добавить задачу-->
            <input class="round icon iconAddTask" type="button">
        </div>
    </div>
</div>
</body>
</html>
