

.TaskNameAndChk {
    display: flex;
    flex-grow: 3;
    max-width: 75%;
    flex-wrap: nowrap;
    padding: 5px;
}

.TaskControls {
    flex-grow: 1;
    min-width: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 130px;
}

.Task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    word-wrap: break-word;
    background-color: inherit;
}

.taskName {
    display: flex;
    width:100%;
    height:auto;
    min-height:100%;
}

.taskName a{
    width:100%;
    padding: 10px;
    max-width: 320px;

}

.checkArea {
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 1rem;
    margin-bottom: 0;
}

.checkArea:hover {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    display:flex;
    transition: background-color .75s ease;
    background-image: url(icons/radio-checked.svg);
}


