.icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.iconSchedule {
    background-image: url(icons/schedule.svg);
    height: 27px;
    width: 27px;
}

.iconMore {
    background-image: url(icons/more.svg);
    height: 27px;
    width: 27px;
}

.iconEdit {
    background-image: url(icons/edit.svg);
    height: 27px;
    width: 27px;
}

.iconAddTask {
    background-image: url(icons/addTask.svg);
}

.iconSettings {
    background-image: url(icons/settings.svg);
    height: 27px;
    width: 27px;
}

.iconProperties {
    background-image: url(icons/properties.svg);
    height: 27px;
    width: 27px;
}

.iconHamburgerMenu {
    background-image: url(icons/hamburgerMenu.svg);
}

.iconInvite {
    background-image: url(icons/invite.svg);
    height: 27px;
    width: 27px;
}

.iconTrash {
    background-image: url(icons/trash.svg);
    height: 27px;
    width: 27px;
}
