

body {
    margin: 0;
}


input[type="button"]{
    background-color: inherit;
    transition: box-shadow .1s,color .1s,background .1s;
    cursor: pointer;
    font-family: Inter,sans-serif;
    white-space: nowrap;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}
a:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

input:hover {
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.flexBody {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 60em;
    height: 100%;
}

.flexMiddle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.leftPanel{
    flex-grow: 1;
    resize: horizontal;
    max-width: 300px;
    min-width: 220px;
    margin: 10px;
}

.rightPanel {
    flex-grow: 1;
    margin: 10px;
    max-width: 300px;
}

.middlePanel {
    flex-grow: 4;
    margin: 10px;
}

.topPanel {
    min-height: 5em;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainPanel {
    margin: 5px;
    padding: 5px;
}

.calendarPanel {
    min-height: 4em;
}

.center-content{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.round {
    border-radius: 0.2rem;
}

a {
    text-decoration: none;
    color: black;
}
a:visited { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }


.mailConfirmPad {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 30px;
    border-radius: 0.3rem;
}

.mailRedirectBlock {
    height: 100px;
    margin-top: 20px;
}

.mailRedirectButton {
    padding: 10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
