.dayWindowDateBlock {
    margin-right: auto;
    padding: 5px 5px 5px 10px;
}
.dayWindowNameBlock {
    padding: 5px 5px 5px 10px;
}
.dayWindowButtonsBlock {
    margin-left: auto;
    justify-content: space-around;
    min-width: 100px;
}

.dayWindowDateClick {
    padding: 8px;
}
.dayWindowNameClick {
    padding: 8px;
}

.dayWindowDescriptionClick {
   display: flex;
}

.dayWindowDescriptionBlock {
    padding: 5px;
    margin: 10px;
}

.dayWindow {
    margin: 10px;
    max-width: 500px;
}
