.weekDay a {
    display: flex;
    height:  4em;
    width: 4em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 2px black solid;
}

.calendar {
    overflow: clip;
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
    margin: 1em;
    max-width: 500px;
    justify-content: space-around;
    background-color: inherit;
}