.iconSchedule {
    background-image: url(icons/schedule.svg);
    height: 27px;
    width: 27px;
}

.iconMore {
    background-image: url(icons/more.svg);
    height: 27px;
    width: 27px;
}

.iconEdit {
    background-image: url(icons/edit.svg);
    height: 27px;
    width: 27px;

}


