root{
    --main_color1: #625EC9;
    --main_color2: #BACAE8;
    --main_color3: #B99CDE;
    --main_color4: #C247AF;
    --main_color5: #DF9FDF;
    --main_color6: #AF71D0;
    --main_color7: #ECE6C6;
    --main_color8: #ABDFE3;
    --main_color9: #D7BEE9;

    --middle_panel_width: 3;
    --left_panel_width: 1;
    --right_panel_width: 1;
}

.backgroundGrad {
    background-image: linear-gradient(360deg, rgb(98,94,201),rgb(186,202,232)),linear-gradient(405deg, rgb(185,156,222) 0%, rgb(185,156,222) 22%,rgb(194,71,175) 22%, rgb(194,71,175) 32%,rgb(223,159,223) 32%, rgb(223,159,223) 37%,rgb(175,113,208) 37%, rgb(175,113,208) 51%,rgb(236,230,198) 51%, rgb(236,230,198) 55%,rgb(171,223,227) 55%, rgb(171,223,227) 100%),linear-gradient(112.5deg, rgb(185,156,222) 0%, rgb(185,156,222) 22%,rgb(194,71,175) 22%, rgb(194,71,175) 32%,rgb(223,159,223) 32%, rgb(223,159,223) 37%,rgb(175,113,208) 37%, rgb(175,113,208) 51%,rgb(236,230,198) 51%, rgb(236,230,198) 55%,rgb(171,223,227) 55%, rgb(171,223,227) 100%),linear-gradient(360deg, rgb(185,156,222) 0%, rgb(185,156,222) 22%,rgb(194,71,175) 22%, rgb(194,71,175) 32%,rgb(223,159,223) 32%, rgb(223,159,223) 37%,rgb(175,113,208) 37%, rgb(175,113,208) 51%,rgb(236,230,198) 51%, rgb(236,230,198) 55%,rgb(171,223,227) 55%, rgb(171,223,227) 100%);
    background-blend-mode:overlay, overlay, overlay, normal;
}



body {
    margin: 0;
}


input[type="button"]{
    background-color: inherit;
    border-color: inherit;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

input:hover {
    cursor: pointer;
}

.flexBody {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 60em;
    height: 100%;
}

.flexMiddle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.leftPanel{
    flex-grow: 1;
    resize: horizontal;
    max-width: 300px;
    margin: 10px;
    background-color: #b79bdd;
}

.rightPanel {
    flex-grow: 1;
    margin: 10px;
    max-width: 300px;
    background-color: #af71d0;
}

.middlePanel {
    flex-grow: 4;
    margin: 10px;
}

.topPanel {
    min-height: 5em;
    margin: 5px;
    background-color: #625ec8;
}

.mainPanel {
    margin: 5px;
    background-color: #BACAE8;
}

.calendarPanel {
    min-height: 4em;
}

.center-content{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.round {
    border-radius: 0.2rem;
}

a {
    text-decoration: none;
    color: black;
}
a:visited { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
